.dataDisplay{
    width:100%;
    
    display: grid;
    grid-template-columns: auto auto auto;

}

.content{
    width:80%;
     
    margin:auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.content img{
    
 width: 250px;
}

.author_name{
    color: white;
    font-size: large
}
img{
   min-width:300px;
   min-height:200px;
   max-height: 200px;
   max-width:300px;

}
.innerContent{
   
    height:400px;
    width:300px;
}
.topic_name{
    color: white;
    font-size: larger;
}
.Nav{
    border: 1px solid blue;
    
}

Nav>img{
    width: 10%;
}